<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Sriharsha Guduguntla">
  <title>Log In</title>
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection">
</head>

<body>
  <div class="container-fluid">
    <nav>
      <div class="nav-wrapper">
        <form id="searchForm">
          <div style="background-color: white" class="input-field">
            <input id="search" placeholder="Search Users by Name" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
    <br/>
    <br/>
    <div id="searchResults"></div>
    <br/>
    <div class="row">
      <form id="form-login" method="post" action="/users/login" class="col s12 m12">
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" name="username" class="validate">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input class="btn" id="submit" type="submit" value="Log In" />
          </div>
        </div>
      </form>
    </div>

  </div>

  <script src="js/jquery-3.1.0.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/ejs.min.js"></script>
  <script type="text/javascript" src="js/search.js"></script>
  <script>
    initSearch();
  </script>
</body>

</html>
